.search-input{
	display: inline-block;
	max-width: 220px;
	font-size: 1.7rem;
	border: 4px solid #9b0b88;
	border-radius: 2rem;
	padding: 0.4rem 0.8rem;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	background-image: url('../../../assets/img/search/search.svg');
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: 24px;
}
.search-input:focus{
	outline: none;
	background-image: none;
}
